---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
    <h1 class="">Contact Page</h1>

    <section class="h-svh grid content-center">
        <h1>section 1</h1>
    </section>
    <section class="h-svh grid content-center">
        <h1>section 2</h1>
    </section>
    <section class="h-svh grid content-center">
        <h1>section 3</h1>
    </section>
    <script>
        import { gsap } from "gsap";
        console.log("using GSAP:", gsap.version);
    </script>
</Layout>
